@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, button, select, textarea {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  display: inline-block;
  position: relative;
  padding: 10px 37px;
  max-height: 40px;
  font-size: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  border: none;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  line-height: 21px;
  letter-spacing: .2em;
  cursor: pointer;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  transform: translateY(-50%);
  transition: height .4s, background-color .4s;
  z-index: -1;
}

.button:hover::before {
  height: 100%;
}

.button:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.button:active::before {
  background-color: #FFCC33;
}

.button:disabled {
  opacity: .3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

/* Раздел header */

/* Логотип */

.header-container {
  margin: 0 auto;
  max-width: 1160px;
  background-image: linear-gradient(180deg, transparent 20px, #FFE17F 20px);
}

.logo-link-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 60px;
}

.logo-link {
  display: flex;
  max-width: 145px;
  transition: opacity .4s;
}

.logo-link:hover {
  opacity: .6;
  transition: .4s;
}

.logo-link:focus-visible {
  outline: 2px solid #AF4FFF;
  border: none;
}

.logo-link:active {
  opacity: .3;
}

/* Форма поиска в header и ее настройки */

.header-search-form {
  display: flex;
  margin-right: 26px;
}

.header-product-search {
  padding: 8px 46px;
  font-size: 16px;
  line-height: 20px;
  width: 359px;
  border: 2px solid #000000;
  background-color: transparent;
  border-radius: 50px 0 0 50px;
  background-image: url("../images/1-header/search-icon.svg");
  background-position:  center left 15px;
  background-repeat: no-repeat;
  appearance: none;
}

.header-product-search:hover {
  opacity: .7;
}

.header-product-search:focus-visible {
  outline: 2px solid #AF4FFF;
}

.header-product-search:active {

}

.product-search-button {
  margin-left: -2px;
  min-height: 40px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 54px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  letter-spacing: normal;
  text-transform: none;
  cursor: pointer;
  transition: 1s;
}

.product-search-button:hover {
  color: #ffffff;
  background-color: #000000;
  transition: .6s;
}

.product-search-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.product-search-button:active {
  color: rgba(255, 255, 255, .3);
}

/* navigation */

.user-navigation-wrapper,
.main-navigation-wrapper {
  display: flex;
  padding: 0 60px;
}

.user-navigation-wrapper {
  margin-bottom: 30px;
}

/* Раздел с входом */

.user-menu {
  display: flex;
  align-items: center;
  max-width: 291px;
}

.user-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 24px;
}

.user-menu-item {
  padding: 5px 0;
}

.user-sing-in {
  position: relative;
  padding: 5px 5px 5px 27px;
  color: #000000;
  text-decoration: none;
}

.user-sing-in:hover {
  opacity: .6;
}

.user-sing-in:focus-visible {
  outline: 2px solid #AF4FFF;
}

.user-sing-in:active {
  opacity: .3;
}

.user-sing-in::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 13px;
  height: 12px;
  background-image: url("../images/1-header/user-login.svg");
}

/* Раздел с "Сравнить и Корзина" */

.user-navigation {
  display: flex;
  align-items: center;
  min-width: 240px;
  margin-left: auto;
}

.compare {
  position: relative;
  padding: 5px 0 5px 22px;
  color: #000000;
  text-decoration: none;
}

.compare::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 12px;
  background-image: url("../images/1-header/compare.svg");
}

.shopping-cart {
  position: relative;
  padding: 5px 0 5px 43px;
  color: #000000;
  text-decoration: none;
}

.shopping-cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 15px;
  width: 16px;
  height: 14px;
  background-image: url("../images/1-header/shopping-cart.svg");
}

.shopping-cart-counter {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
  border-radius: 50%;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 18px;
  list-style-type: none;
}

.user-navigation-item {
  position: relative;
  padding: 5px 0;
}

.user-navigation-link {
  text-decoration: none;
}

.user-navigation-link:hover {
  opacity: .6;
}

.user-navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.user-navigation-link:active {
  opacity: .3;
}

/* Раздел с поповером  */

.popover {
  position: absolute;
  top: 41px;
  right: -77px;
  min-width: 320px;
  min-height: 300px;
  background-color: #000000;
  z-index: 4;
  display: none;
}

.popover-cart {

}

.popover-cart-open {
  /* display: block; */
}

.popover-content {
  position: relative;
}

.popover-content::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 50%;
  width: 14px;
  height: 6px;
  transform: translateX(50%);
  border: 14px solid transparent;
  border-bottom: 14px solid #000000;
}

.popover-cart-list {
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 1px;
  list-style-type: none;
  background-color: #1A1A1A;
}

.popover-cart-item {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #000000;
}

.popover-cart-link {
  display: flex;
  color: #FFFFFF;
  text-decoration: none;
  gap: 23px;
  transition: opacity .4s;
}

.popover-cart-link:hover {
  opacity: .6;
}

.popover-cart-link:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
  outline-offset: 1px;
}

.popover-cart-link:active {
  opacity: .3;
}

.popover-cart-image-wrapper {
  display: flex;
  width: 39px;
  height: 43px;
}

.popover-cart-subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  max-width: 170px;
}

.popover-cart-delate-button {
  position: relative;
  display: flex;
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .4s;
}

.popover-cart-delate-button::before, .popover-cart-delate-button::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 1px;
  top: 5px;
  right: -1px;
  background: #FFFFFF;
}

.popover-cart-delate-button::before {
  transform: rotate(45deg);
}

.popover-cart-delate-button::after {
  transform: rotate(-45deg);
}


.popover-cart-delate-button:hover {
  opacity: .6;
}

.popover-cart-delate-button:focus-visible {
  opacity: 1;
  outline: 2px solid #AF4FFF;
}

.popover-cart-delate-button:active {
  opacity: .3;
}
.popver-cart-info-wrapper {
  display: flex;
  margin-bottom: 20px;
  padding: 0 20px;
  min-height: 44px;
  align-items: center;
  justify-content: space-between;
  background-color: #1A1A1A;
}

.popver-cart-product {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.popver-cart-product-counter {

}

.popover-cart-price {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.popover-cart-price-counter {

}

.popover-open-cart-button {
  display: flex;
  margin: 0 20px ;
  padding: 14px 23px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2em;
  transition: background-color .4s, color .4s;
}

.popover-open-cart-button:hover {
  background-color: #FFE17F;
}

.popover-open-cart-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.popover-open-cart-button:active {
  color: rgba(0, 0, 0, .3);
}

.popover-open-cart-button:disabled {
  color: rgba(0, 0, 0, .3);
}


/* Раздел с "Каталог товаров" */

.main-navigation-wrapper {
  min-height: 50px;
}

.main-navigation {
  display: flex;
  align-items: center;
  min-width: 293px;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation-item {
  position: relative;
}

.main-navigation-item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  z-index: 2;
}

.catalog {
  position: relative;
  padding: 15px 67px 15px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: .2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  z-index: 3;
}

.catalog::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border: 2px solid #000000;
  opacity: .3;
  border-radius: 50%;
  background-image: url("../images/2-main/submenu-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s;
}

.catalog:hover::after {
  opacity: 1;
}

.catalog:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog:active {
  opacity: .6;
}

.submenu-checkbox:checked + .catalog::after {
  background-image: url("../images/2-main/submenu-minus.svg");
}

.submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 33px 60px 27px;
  width: 1160px;
  min-height: 180px;
  top: 20px;
  left: -60px;
  gap: 60px;
  list-style-type: none;
  background-color: #FFE17F;
  z-index: 2;
}

.submenu-column-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.submenu-column-item + .submenu-column-item {
  margin-top: 5px;
}

.submenu-column-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.submenu-column-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.submenu-checkbox:checked ~ .submenu {
  display: flex;
}

/* Раздел с "Доставка, Гарания, Контакты" */

.main-navigation-info {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 471px;
}

.main-navigation-info-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 45px;
  z-index: 3;
}

.main-navigation-info-link {
  padding: 5px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: .2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom .4s, opacity .4s;
}

.main-navigation-info-link:hover {
  opacity: .6;
  border-bottom: 2px solid #000000;
}

.main-navigation-info-link:focus-visible {
  outline: 2px solid #AF4FFF;
  border-bottom: 2px solid #000000;
}

.main-navigation-info-link:active {
  opacity: .3;
}


/* Разметка слайдера */

/* Общий контейнер слайдера (карточка, описание) */

.main-slider {
  margin: 0 auto;
  position: relative;
  max-width: 1160px;
  margin-top: -16px;
  background-image: linear-gradient(180deg, #FFE17F 150px, transparent 150px);
}

.slider-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: none;
}

.slider-item-current {
  display: flex;
  gap: 40px;
}

.slider-item::before {
  content: "01";
  position: absolute;
  top: 83px;
  right: 49px;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

/* Раздел с описанием товара и характеристиками */

.slider-image-wrapper {
  display: flex;
  width: 560px;
  height: 560px;
}

.slider-content-wrapper {
  width: 560px;
  padding-top: 121px;
}

.slider-content-title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  z-index: 1;
}

.fitness-bracelet-title {
  padding-right: 72px;
}

.slider-content-subtitle {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  color: #444444;
}

/* Слайдер. Кнопка "Подробнее" */

.slider-about-button {
  margin-bottom: 50px;
}

/* Раздел с таблицей (описание характеристик товара) */

.slider-characteristics-description-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-content: start;
}

.slider-characteristics-description-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-characteristic {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.main-characteristic-description {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

/* Раздел с пагинацией слайдера */

.slider-pagination-list {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
}

.slider-pagination-item {
  display: flex;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity .3s;
}

.slider-pagination-button:hover {
  opacity: .6;
  background-color: #000000;
  transition: .6s;
}
.slider-pagination-button:focus-visible {
  background-color: #000000;
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}
.slider-pagination-button:active {
  opacity: .3;
  background-color: #000000;
  transition: .6s;
}

.slider-pagination-button-current {
  background-color: #000000;
}

/* Кнопки переключения слайдера */

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/2-main/left-tall-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  opacity: .6;
}

.slider-button:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.slider-button:active {
  opacity: .3;
}

.slider-button:disabled {
  opacity: .1;
}

.slider-buttons-wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 38%;
  left: 30px;
  width: 530px;
}

.slider-button-next {
  transform: rotate(180deg);
}

/* Раздел с общим списком товаров */

.all-products-categories {
  margin: 0 auto;
  max-width: 1160px;
  padding: 70px 0;
}

.products-categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding: 0;
  gap: 40px;
  list-style-type: none;
}

.products-categories-item {
  width: 160px;
  height: 253px;
}

.products-categories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.products-categories-link {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-decoration: none;
  transition: opacity .3s;
}

.products-categories-image {
  display: flex;
  width: 160px;
  height: 160px;
  align-items: center;
  justify-content: center;
  background-color: #FFE17F;
  transition: 1s;
}

.selfie-monopods-image {
  align-items: flex-end;
}

.products-title {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: -.02em;
  text-decoration: none;
}

.selfie-monopods-title {
  padding-right: 35px;
}

.products-categories-link:hover .products-categories-image {
  background-color: #FFCC33;
  transform: scale(1.1);
  transition: .6s;
  border-radius: 10px;
}

.products-categories-link:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.products-categories-link:active {
  opacity: .3;
  transition: .6;
}

/* Раздел с услугами */

.services {
  position: relative;
  padding-bottom: 72px;
  background-image: linear-gradient(180deg, #ffffff 100px, #f0f0f0 100px);
}

.services-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1160px;
  display: grid;
  grid-template-columns: 287px 694px;
  gap: 116px;
  z-index: 1;
}

/* Кнопки раздела услуг */

.services-title-list {
  display: flex;
  margin: 0;
  padding: 64px 0 65px 0;
  gap: 35px;
  flex-direction: column;
  border-right: 7px solid #000000;
}

.services-title-item{
  list-style-type: none;
}

.services-button {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Raleway", "Arial", sans-serif;
  width: 160px;
  max-height: 40px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: inherit;
  cursor: pointer;
}

.service-button-current {
  color: #FFE17F;
  background-color: #000000;
  transition: padding-left .6s;
}

.service-button-current .services-button::before {
  content: "";
  width: 0;
}

.service-button-current:hover {
  padding-left: 25px;
}

.service-button-current:focus-visible {
  padding-left: 25px;
  outline: 2px solid #AF4FFF;
}

.service-button-current:active {
  padding-left: 25px;
}


/* Описание раздела услуг  */


.services-description-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-description-item {
  display: none;
  margin: 0;
  padding: 74px 0 71px 0;
}

.services-description-delivery {
  background-image: url("../images/2-main/delivery-man.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 78px;
}

.services-description-guarantee {
  background-image: url("../images/2-main/garant.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 78px;
}

.services-description-credit {
  background-image: url("../images/2-main/credit.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 78px;
}

.services-description-current {
  display: block;
}

.services-description-title {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  max-width: 500px;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.services-description-subtitle {
  margin: 0;
  max-width: 500px;
  color: #444444;
}

/* Раздел с кнопкой доставки редкого товара */

.delivery-info {
  padding: 70px 0;
}

.delivery-button-wrapper {
  margin: 0 auto;
  max-width: 1160px;
}

.delivery-button {
  position: relative;
  margin: 0;
  padding: 41px 125px 36px;
  width: 100%;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .2em;
  border: none;
  background-color: #F0F0F0;
  cursor: pointer;
}

.more-info-button {
  position: absolute;
  top: 50%;
  right: 62px;
  transform: translateY(-50%);
  opacity: .3;
}

.delivery-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100px;
  background-image: url("../images/2-main/car.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
  transition: .6s;
}

.delivery-button:hover::before {
  border-radius: 5px;
  transition: .2s;
  background-color: #FFC700;
  animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}

@keyframes trambling-animation {
  0%, 50%, 100% {
      transform: rotate(0deg);
  }
  10%, 30% {
      transform: rotate(-10deg);
  }
  20%, 40% {
      transform: rotate(10deg);
  }
}

.delivery-button:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
  outline-offset: 1px;
}

.delivery-button:active {
  opacity: .3;
}

.delivery-button::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #DCDCDC80;
  transition: .6s;
}

.delivery-button:hover::after{
  background-color: #DCDCDC80;
  transition: .6s;
}

/* Раздел с контактной информацией */

/* О нас  */

.about-info-wrapper {
  display: grid;
  padding-top: 70px;
  grid-template-columns: 520px 532px;
  gap: 108px;
  margin: 0 auto;
  max-width: 1160px;
}

.about {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 30px;
  padding: 47px 0 52px 0;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.about-title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-description {
  margin: 0;
  padding: 0 23px 0 0;
  color: #444444;
}

.delivery-companies-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 37px;
}

.delivery-companies-item {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -.02em;
  color: #000000;
}

.delivery-companies-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -33px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
}

.delivery-companies-item + .delivery-companies-item {
  margin-top: 19px;
}

.about-us-button {
  width: 271px;
  padding: 10px 22px;
}

/* Раздел Контакты */

.contacts {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 47px;
  gap: 30px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts-title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-description {
  margin: 0;
  padding: 0 34px 0 0;
  color: #444444;
}

.contacts-address-wrapper {

}

.contacts-address-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  color: #444444;
}

.contacts-address {
  color: #444444;
}

.contacts-address-subtitle {
  margin: 0;
  padding: 0;
  font-style: normal;
}

.contacts-address-phone {
  font-style: normal;
  color: #444444;
}

.working-hours-wrapper {
  color: #444444;
}

.working-hours-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.write-to-us-button {
  width: 261px;
  padding: 10px 33px;
}

/* Раздел Подписки */

.mailing {
  padding: 64px 0 56px;
  background-color: #F0F0F0;
}

.mailing-wrapper {
  margin: 0 auto;
  max-width: 1160px;
}

.mailing-title-wrapper {
  display: flex;
  margin-bottom: 144px;
  gap: 252px;
}

.mailing-title {
  margin: 0;
  padding: 0;
  padding-left: 7px;
  max-width: 348px;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
}

.mailing-subtitle {
  margin: 0;
  padding: 10px 25px 0 7px;
  max-width: 560px;
  color: #444444;
}

/* Форма подписки */

.mailing-form-wrapper {
  display: flex;
}

.mailing-form {
  display: flex;
}

.email-field {
  padding: 11px 16px;
  width: 557px;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;
  transition: .6s;
}

.email-field:hover {

}

.email-field:focus-visible {
  outline: none;
  background-color: #DCDCDC;
}

.email-field:active {

}

.button-mailing {
  padding: 15px 37px;
  font-size: 18px;
  line-height: 22px;
  max-width: 254px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2em;
  border: 3px solid #C4C4C4;
  background-color: transparent;
  cursor: pointer;
  transition: .6s;
}

.button-mailing:hover {
  color: #FFFFFF;
  border: 3px solid #000000;
  background-color: #000000;
  transition: .6s;
}

.button-mailing:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.button-mailing:active {
  color: rgba(255, 255, 255, .2);
  border: 3px solid #000000;
  background-color: #000000;
}

.button-mailing:disabled{
  opacity: .3;
}

.mailing-information {
  position: relative;
  margin-left: auto;
  align-self: center;
  padding-left: 32px;
}

.mailing-information::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../images/2-main/green-tick.svg");
  background-repeat: no-repeat;
}

/* Раздел подвала */

.page-footer {
  padding: 62px 0 61px;
  background-color: #444444;
}

.page-footer-wrapper {
  margin: 0 auto;
  max-width: 1160px;
}

.footer-header-wrapper {
  margin-bottom: 35px;
}

.footer-header {
  display: flex;
  max-width: 145px;
  transition: opacity .3s;
}

.footer-header:hover {
  opacity: .6;
}

.footer-header:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.footer-header:active {
  opacity: .3;
}

.footer-logo {
  cursor: pointer;
}

.footer-main {
display: flex;
margin-bottom: 47px;
}

.footer-address {
  margin-right: 117px;
  font-size: 16px;
  line-height: 20px;
  width: 240px;
  color: #ffffff;
  font-style: normal;
}

.credits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.credits-item {

}

.credits-link {
  padding: 5px 0;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color .6s, border-bottom .6s;
}

.credits-link:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.credits-link:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.credits-link:active {
  opacity: .3;
  transition: .3s;
}

.footer-phone {
  margin-left: auto;
  padding: 8px 2px 0 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: color .6s, opacity .6s;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.footer-phone:active {
  opacity: .3;
}

.footer-footer {
  display: flex;
  position: relative;
}

.footer-footer::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FFC700;

}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 504px;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 200px;
  list-style-type: none;
}

.social-item {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF4D;
  transition: background-color .6s, box-shadow .6s;
}

.social-item:hover {
  background-color: #FFC700;
  box-shadow: 0 0 10px 0 #FFC700;
}

.social-item:focus-visible {

}

.social-item:active {

}


.social-link {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link:hover {

}

.social-link:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.social-link:active {
  opacity: .3;
  transition: .6s;
}

.telegram {
  background-image: url("../images/3-footer/telegram.svg");
}

.youtube {
  background-image: url("../images/3-footer/youtube.svg");;
}

.twitter {
  background-image: url("../images/3-footer/twitter.svg");;
}

.html-academy-logo {
  display: flex;
  margin-left: auto;
  fill: #FFC700;
  transition: .6s;
}

.html-academy-logo:hover {
  fill: #FFFFFF;
  transition: .6s;
}
.html-academy-logo:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
  transition: .6s;
}
.html-academy-logo:active {
  opacity: .3;
  transition: .6s;
}



/* Раздел Каталога */

.header-wrapper {
  padding-bottom: 20px;
}

.user-sing-out {
  color: #000000;
  text-decoration: none;
  opacity: .3;
}

.catalog-divider-filter {
  margin: 0 auto;
  max-width: 1160px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.catalog-divider-filter {
  padding: 35px 60px 34px;
}

/* Раздел хлебных крошек */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-link {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  transition: opacity .3s;
}

.breadcrumbs-link-current {

}

.breadcrumbs-link:hover {
  opacity: .6;
}

.breadcrumbs-link:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.breadcrumbs-link:active {
  opacity: .3;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 6px;
  right: -20px;
  background-image: url("../images/2-main/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Раздел main */

.catalog-container {
  position: relative;
  background-color: #F0F0F0;
  z-index: 1;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 320px 840px;
  margin: 0 auto;
  max-width: 1160px;
}

.catalog-filter {
  padding: 25px 60px;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 58px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.catalog-filter-subtitle {
  margin-bottom: 20px;
  padding: 0;
  padding-top: 12px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -.02em;
  color: #000000;
  border-top: 2px solid #000000;
  width: 100%;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

/* Раздел с range */

.range-scale {
  position: relative;
  height: 2px;
  margin-top: 8px;
  margin-bottom: 11px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, .5);
}

.range-toggle:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #AF4FFF;

}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle-min {
  top: -8px;
  left: -8px;
}

.range-toggle-max {
  top: -8px;
  right: -8px;
}

.ragne-input-wrapper {
  display: flex;
  gap: 21px;
}

.catalog-filter-label {
  display: flex;
  margin-left: -12px;
  font-size: 14px;
  line-height: 20px;
  opacity: .3;
}

.ragne-input {
  max-width: 80px;
  border: none;
  background-color: transparent;
}

.catalog-filter-label:hover {
  opacity: .6;
}

.ragne-input:focus-visible {
  outline: 2px solid #AF4FFF;
}

.ragne-input:active {

}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
}

.catalog-filter-item + .catalog-filter-item {
  margin-top: 17px;
}

.control {
  display: block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: .6;
}

.control-input:disabled + .control-mark {
  opacity: .1;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  background-color: transparent;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: url("../images/2-main/black-tick.svg");
  position: absolute;
  top: -3px;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translateX(-50%);
}

.control-label {
  color: #000000;
}

.control-input:focus-visible + .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 1px;
}

/* Раздел с Bluetooth */

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  transform: translateX(-50%);
}

.catalog-filter-button {
  padding: 11px 48px;
}

/* Раздел с сортировкой */

.catalog-products {
  background-color: #ffffff;
}

.sorting-wrapper {
  display: flex;
  padding: 20px 40px;
  background-color: #F0F0F0;
  align-items: center;
}

.sorting {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting-control {
  margin-left: auto;
  padding-right: 35px;
  min-width: 109px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../images/2-main/select-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  cursor: pointer;
}

.sorting-control:hover {
  opacity: .6;
}

.sorting-control:focus-visible {
  border: none;
  outline: 2px solid #AF4FFF;
}

.sorting-control:active {
  opacity: .3;
}

/* Раздел с кнопкой сортировки */

.sorting-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.sorting-buttons {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.sorting-buttons::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  width: 11px;
  height: 10px;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, .2);
}

.sorting-buttons:hover::before {
  border-bottom-color: rgba(0, 0, 0, .5);
}

.sorting-buttons:focus-visible {
  outline: 2px solid #AF4FFF;
}

.sorting-buttons:active::before {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.button-down {
  transform: rotate(180deg);
}

/* Раздел с карточками товаров */

.products-catalog-list {
  display: grid;
  margin: 0;
  padding: 70px 40px 44px;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 40px;
  list-style-type: none;
}

.products-catalog-item {
  position: relative;
  min-width: 360px;
  min-height: 380px;
  cursor: pointer;
}

.catalog-item-new::before {
  content: "New";
  position: absolute;
  display: flex;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  letter-spacing: .2em;
  border: 2px solid #000000;
  color: #000000;
  border-radius: 50%;
  opacity: .6;
  z-index: 1;
}

.product-about-button-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 380px;
  opacity: 0;
  transition: background-color .6s;
}

.products-catalog-item:hover .product-about-button-wrapper {
  opacity: 1;
  z-index: 4;
  background-color: #F0F0F0CC;
}

.products-catalog-item:hover .products-catalog-link {
  color: rgba(0, 0, 0, .6);
}

.products-catalog-item:active .products-catalog-link {
  color: rgba(0, 0, 0, .3);
}

.products-catalog-link {
  display: block;
  color: #000000;
  text-decoration: none;
}

.products-catalog-item:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.product-image-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 32px;
  width: 100%;
  height: 380px;
}

.product-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -.02em;
  max-width: 205px;
}

.amateur-selfie-stick {
  padding-right: 5px;
}

.product-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

/* Раздел с кнопкой "Загрузить еще" */

.load-more-button {
  display: flex;
  margin: 0 40px 44px;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: 3px solid #e5e5e5;
  letter-spacing: .2em;
  transition: border .4s, opacity .4s;
}

.load-more-button:hover {
  border: 3px solid #000000
}

.load-more-button:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.load-more-button:active {
  opacity: .3;
}

/* Раздел с пагинацей раздела продукции каталога */

.product-pagination-wrapper {
  display: flex;
  margin: 0 40px 78px;
  min-height: 71px;
  align-items: center;
  justify-content: space-between;
  background-color: #EBEBEB;
}

.product-pagination {
  margin: 0;
  padding: 25px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
}

.product-pagination-prev {
  opacity: .3;
}

.product-pagination:hover {
  color: #000000;
  background-color: #DCDCDC;
  opacity: 1;
}

.product-pagination:focus-visible {
  opacity: 1;
  outline: 2px solid #AF4FFF;
}

.product-pagination:active {
  opacity: .3;
}

.product-pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-pagination-item {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.product-pagination-item-skip {
  color: #444444;
  opacity: .3;
  text-decoration: none;
}

.product-pagination-link {
  padding: 5px;
  color: #444444;
  opacity: .3;
  text-decoration: none;
}

.product-pagination-link:hover {
  opacity: 1;
}

.product-pagination-link:focus-visible {
  opacity: 1;
  outline: 2px solid #AF4FFF;
}

.product-pagination-link:active {
  opacity: .1;
}

.pagination-link-current {
  opacity: .6;
}


/* Раздел с модальным окном */

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
  z-index: 4;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  border: 10px solid #000000;
  background-color: #FFFFFF;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);
}

.modal-delivery {
  width: 920px;
}

.modal-close-button {
  position: absolute;
  display: flex;
  padding: 0;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .6s;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 12px;
  right: -4px;
  width: 34px;
  height: 3px;
  background-color: #000000;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  opacity: .6;
}

.modal-close-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.modal-close-button:active {
  opacity: .3;
}

.modal-content {

}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-size: 50px;
  line-height: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
}

.delivery-form {
  display: grid;
  grid-template-columns: 200px 120px 140px 180px;
  gap: 42px 40px;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.user-name-form {
  grid-column: 1 / 3;
}

.delivery-user-name-label {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -.02em;
  color: #000000;
}

.delivery-user-name-input {
  padding: 20px 40px 20px 20px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #F0F0F0;
  background-image: url("../images/2-main/modal-user-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  transition: background-color .4s;
}

.delivery-user-name-input:hover {
  background-color: #DCDCDC;
}

.delivery-user-name-input:focus-visible {
  outline: 2px solid #AF4FFF;
}

.delivery-user-name-input:active {

}

.delivery-user-name-input:disabled {
  background-color: #F0F0F0;
  opacity: .3;
}
.user-email-form {
  grid-column: 3 / 5;
}

.delivery-user-email-label {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -.02em;
  color: #000000;
}

.delivery-user-email-input {
  padding: 20px 40px 20px 20px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #F0F0F0;
  background-image: url("../images/2-main/modal-mail-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  transition: background-color .4s;
}

.delivery-user-email-input:hover {
  background-color: #DCDCDC;
}

.delivery-user-email-input:focus-visible {
  outline: 2px solid #AF4FFF;
}

.delivery-user-email-input:active {

}

.delivery-user-email-input:disabled {
  background-color: #F0F0F0;
  opacity: .3;
}


.user-email-error-title {
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
}

.user-delivery-form {
  grid-column: 1 / 4;
}

.delivery-user-item-label {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -.02em;
  color: #000000;
}

.user-delivery-item-input {
  padding: 20px 40px 20px 20px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #F0F0F0;
  transition: background-color .4s;
}

.user-delivery-item-input:hover {
  background-color: #DCDCDC;
}

.user-delivery-item-input:focus-visible {
  outline: 2px solid #AF4FFF;
}

.user-delivery-item-input:active {

}
.user-delivery-item-input:disabled {
  background-color: #F0F0F0;
  opacity: .3;
}

.delivery-item-control {
  grid-column: 4 / -1;
}

.delivery-item-control-label {
  display: flex;
}

.item-control-label {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -.02em;
  color: #000000;
}

.modal-popup {
  position: relative;
  margin-left: 8px;
}

.modal-popup-button {
  position: absolute;
  top: -3px;
  right: -26px;
  width: 26px;
  height: 26px;
  color: #000000;
  border: none;
  border-radius: 50%;
  background-color: #FFE17F;
  background-image: url("../images/2-main/more-info-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-popup-button:focus-visible {
  outline-offset: 1px;
  outline: 2px solid #AF4FFF;
}

.modal-popup-text {
  display: none;
  position: absolute;
  padding: 19px;
  top: 33px;
  right: -60px;
  width: 200px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, .1);
  z-index: 1;
}

.modal-popup-text::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 47px;
  width: 14px;
  height: 6px;
  transform: translateX(50%);
  border: 14px solid transparent;
  border-bottom: 14px solid #000000;
}

.modal-popup-text::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 200px;
  height: 10px;
  background-color: transparent;
}

.modal-popup-button:hover + .modal-popup-text {
  display: block;
}

.item-control-wrapper {
  display: flex;
}

.item-control-input {
  margin: 0;
  padding: 15px 0;
  width: 60px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  border-radius: 0;
  color: #000000;
  background-color: #F0F0F0;
  appearance: textfield;
}

.item-control-input:focus-visible {
  outline: 2px solid #AF4FFF;
  z-index: 1;
}

.item-control-minus {
  position: relative;
  margin: 0;
  padding: 15px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #F0F0F0;
  cursor: pointer;
}

.item-control-minus::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 22px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.item-control-plus {
  position: relative;
  margin: 0;
  padding: 15px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #F0F0F0;
  cursor: pointer;
}

.item-control-minus:focus-visible,
.item-control-plus:focus-visible {
  outline: 2px solid #AF4FFF;
}

.item-control-plus::before, .item-control-plus::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 22px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.item-control-plus::after {
  transform: rotate(-90deg);
}

.item-control-minus:hover,
.item-control-plus:hover {
  background-color: #EBEBEB;
}

.item-control-minus:hover::before {
  opacity: .6;
}

.item-control-plus:hover::before,
.item-control-plus:hover::after {
  opacity: .6;
}

.delivery-form-button {
  display: block;
  padding: 10px 30px;
}
